<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <title>FreshVotes Dashboard</title>
        <script th:replace="fragments/header :: headerElement"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container" style="margin-top: 1.5em;">
            <div class="row">
                <div class="col-8">
                    <h1>FreshVotes Dashboard</h1>
                </div>
            </div>
            <div class="card" th:each="request : ${requests}" style="margin: 1em">
                <div class="card-body">
                    <h5 class="card-title" th:text="${request.name}">Special title treatment</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${request.published ? 'Published' : 'Not Published'}">Card subtitle</h6>
                    <a th:href="@{/requests/{requestId}(requestId=${request.id})}" class="btn btn-info">Edit</a>
                    <a th:href="@{/r/{requestName}(requestName=${request.name})}" class="btn btn-info">View Feature Requests</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/requests" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-primary" id="createRequest">Create a Request</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>