<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaWebApp Login</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script type="text/javascript">
        $(function () {
            $("#createAccount").click(function () {
                window.location.href = "/register";
            });
        });
    </script>
</head>
<body style="background-color:ghostwhite">
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="col-6 mx-auto">
        <div class="card" style="margin-top: 1.5em;">
            <div class="card-header"><h2>Login Form</h2></div>
            <div class="card-body">
                <form method="post" th:action="@{/login}">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <div class="alert alert-danger" role="alert" th:if="${param.error != null}">
                        Email o password errati
                    </div>
                    <div th:if="${param.logout != null}">
                        Hai effettuato il logout
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="username">Email</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="username" name="username" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top: 0.8em;">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="password">Password</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="password" name="password" type="password"/>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-info float-end mt-2 ms-1" id="createAccount" type="button">Crea nuovo
                        account
                    </button>
                    <button class="btn btn-lg btn-primary float-end mt-2 " type="submit">Accedi</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>