<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaWebApp register</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script type="text/javascript">
        $(function () {
            $("#back").click(function () {
                window.location.href = '/login';
            });
        });
    </script>
</head>
<body style="background-color:ghostwhite">
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="col-8 mx-auto">
        <div class="card" style="margin-top: 1.5em;">
            <div class="card-header"><h2>Registrati</h2></div>
            <div class="card-body">
                <form action="" method="post">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="firstname">Nome</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="firstname" th:field="${user.firstname}" type="text"/>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 0.8em;">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="lastname">Cognome</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="lastname" th:field="${user.lastname}" type="text"/>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 0.8em;">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="username">Email</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="username" th:field="${user.email}" type="text"/>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 0.8em;">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="password">Password</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="password" th:field="${user.password}" type="password"/>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 0.8em;">
                        <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-1 col-form-label"
                               for="confirmPassword">Conferma
                            password</label>
                        <div class="col-12 cl-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-11">
                            <input class="form-control" id="confirmPassword" type="password"/>
                        </div>
                    </div>
                    <div style="margin-top: 0.8em;">
                        <button class="btn btn-lg btn-info" id="back" type="button">Indietro</button>
                        <button class="btn btn-lg btn-primary float-right" type="submit">Crea account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>