<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Request</title>
</head>
<body style="background-color:ghostwhite">
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${request != null}">
    <div class="mb-3" sec:authorize="hasRole('ROLE_ADMIN')">
        <h5>Da parte di:</h5>
        <div class="col-12 col-sm-9 col-md-10" id="name"
             th:text="${request.user.getLastname()} + ' ' + ${request.user.getFirstname()}">name
        </div>
    </div>
    <div class="mb-3">
        <h5>Descrizione e note per il tatuatore:</h5>
        <div class="col-12 col-sm-9 col-md-10" id="description" th:text="${request.description}">description</div>
    </div>
    <div class="mb-3">
        <h5>Immagine di riferimento:</h5>
        <img alt="Non è stata fornita un'immagine di riferimento" class="col-12 col-sm-9 col-md-10" id="image1" src=""
             th:src="@{${request.imagePath}}">
    </div>
</div>
<div class="col-3 mb-3 ms-auto" sec:authorize="!hasRole('ROLE_ADMIN')"
     th:if="${request.status == T(com.javawebapplication.domain.Status).REQUEST_PENDING || request.status == T(com.javawebapplication.domain.Status).REQUEST_ACCEPTED}">
    <a class="btn btn-danger ms-auto" th:href="@{/request/delete/{requestId}(requestId=${request.id})}">Elimina richiesta</a>
</div>
<div class="col-3 mb-3 ms-auto" sec:authorize="!hasRole('ROLE_ADMIN')"
     th:if="${request.status == T(com.javawebapplication.domain.Status).REQUEST_ACCEPTED}">
    <a class="btn btn-primary ms-auto" th:href="@{/request/advance_payment/{requestId}(requestId=${request.id})}">Versa
        Anticipo</a>
</div>
<div class="col-3 mb-3 ms-auto" sec:authorize="!hasRole('ROLE_ADMIN')"
     th:if="${request.status == T(com.javawebapplication.domain.Status).DRAWING_COMPLETED}">
    <a class="btn btn-success ms-auto" th:href="@{/request/make_appointment/{requestId}(requestId=${request.id})}">Fissa
        Appuntamento</a>
    <a class="btn btn-warning ms-auto" th:href="@{/request/drawing_review/{requestId}(requestId=${request.id})}">Richiedi
        Revisione Disegno</a>
</div>

<div class="col-3 mb-3 ms-auto" sec:authorize="hasRole('ROLE_ADMIN')"
     th:if="${request.status == T(com.javawebapplication.domain.Status).REQUEST_PENDING}">
    <a class="btn btn-primary" th:href="@{/request/accept/{requestId}(requestId=${request.id})}">Accetta Richiesta</a>
</div>
<div class="col-3 mb-3 ms-auto" sec:authorize="hasRole('ROLE_ADMIN')"
     th:if="${request.status == T(com.javawebapplication.domain.Status).DRAWING_IN_PROGRESS}">
    <a class="btn btn-success ms-auto" th:href="@{/request/drawing_completed/{requestId}(requestId=${request.id})}">Disegno
        Completato</a>
</div>

</body>
</html>