<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>Create Request</title>
</head>
<body style="background-color:ghostwhite">
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${request != null}">
    <h1>Nuova richiesta</h1>
    <form action="" enctype="multipart/form-data" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <input th:field="${request.id}" type="hidden"/>
        <input th:field="${request.user}" type="hidden"/>
        <div class="mb-3">
            <label class="col-12 col-form-label" for="description">Descrizione e note per il tatuatore</label>
            <textarea class="form-control" id="description" rows="3" th:field="${request.description}"></textarea>
        </div>
        <div class="mb-3 col-4">
            <label class="col-12 col-form-label" for="image">Immagine di riferimento</label>
            <input accept="image/png, image/jpeg" class="form-control" id="image" name="image" type="file">

        </div>
        <button class="btn btn-primary btn-lg" type="submit">Crea richiesta</button>
        <a class="btn btn-info btn-lg" href="/requests">Torna indietro</a>
    </form>
</div>
</body>
</html>