<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requests</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script type="text/javascript">
        $(function () {
            $("#createRequest").click(function () {
                window.location.href = "/request";
            });
        });
    </script>
</head>
<body style="background-color:ghostwhite">
<div th:replace="fragments/header :: header"></div>
<div class="container" style="margin-top: 1.5em;">
    <div class="row">
        <div class="col-8">
            <h1>Le mie richieste</h1>
        </div>
    </div>
    <div class="card" style="margin: 1em" th:each="request : ${requests}">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h5 class="card-title" sec:authorize="hasRole('ROLE_ADMIN')"
                        th:text="${request.user.getLastname()} + ' ' + ${request.user.getFirstname()}">Special title
                        treatment</h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="${request.accepted ? 'Richiesta accettata' : 'Richiesta non ancora accettata'}">Card
                        subtitle</h6>
                    <a class="btn btn-info" style="margin-top: 5.5em;"
                       th:href="@{/requests/{requestId}(requestId=${request.id})}">Visualizza richiesta</a>
                </div>
                <div class="col-3">
                    <img alt="image" class="img-thumbnail" height="300" src="" th:src="@{${request.imagePath}}"
                         width="300">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4 mt-2 ms-2" sec:authorize="!hasRole('ROLE_ADMIN')">
        <div class="col">
            <button class="btn btn-primary" id="createRequest">Crea una nuova richiesta</button>
        </div>
    </div>

</div>
</body>
</html>